{
  "openapi": "3.1.0",
  "info": {
    "title": "Aithos Agents API",
    "version": "0.2.0",
    "description": "Owner REST API for agent configuration, MCP connectors and asynchronous tasks. Public cards advertise A2A 1.0 JSON-RPC; see docs/a2a.md for the asynchronous-only profile and optional invocation-only authentication."
  },
  "servers": [
    {
      "url": "https://agents.aithos.app",
      "description": "Canonical deployed API and OAuth callback origin."
    },
    {
      "url": "http://127.0.0.1:3188",
      "description": "Ephemeral local mode; metadata only unless Bedrock explicitly enabled."
    },
    {
      "url": "https://{apiId}.execute-api.{region}.amazonaws.com",
      "description": "Deployed API Gateway HTTPS endpoint",
      "variables": {
        "apiId": {
          "default": "YOUR_API_ID"
        },
        "region": {
          "default": "eu-west-3"
        }
      }
    }
  ],
  "security": [
    {
      "OwnerKey": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "serviceInfo",
        "summary": "Service information",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/agents": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create an agent and return its one-time owner key",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreated"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInput"
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Read agent configuration",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      },
      "patch": {
        "operationId": "updateAgent",
        "summary": "Replace agent name and description",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Name is required. Omitted description resets it to an empty string.",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInput"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Disable agent and clear private records",
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      }
    },
    "/v1/agents/{agent}/key": {
      "post": {
        "operationId": "rotateOwnerKey",
        "summary": "Rotate the owner key and revoke the old key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      }
    },
    "/agents/{agent}/agent-card.json": {
      "get": {
        "operationId": "agentCard",
        "summary": "Public A2A Agent Card",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCard"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Official SDK Agent Card advertising the JSONRPC A2A 1.0 interface. Private instructions and connector credentials are omitted.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      }
    },
    "/v1/agents/{agent}/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "List private skill configuration",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skills"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      }
    },
    "/v1/agents/{agent}/skills/{skill}": {
      "put": {
        "operationId": "saveSkill",
        "summary": "Create or replace a Markdown skill",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/skill"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillInput"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSkill",
        "summary": "Remove a skill",
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/skill"
          }
        ]
      }
    },
    "/v1/agents/{agent}/connectors": {
      "get": {
        "operationId": "listConnectors",
        "summary": "List connectors without secrets",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connections"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      },
      "post": {
        "operationId": "createConnector",
        "summary": "Add a remote MCP connector",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Stores configuration. This does not verify the remote endpoint or complete OAuth consent.",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionInput"
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent}/connectors/{connection}": {
      "delete": {
        "operationId": "disconnectConnector",
        "summary": "Disable connector and remove local credentials",
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Does not call a provider revocation endpoint or undo previously dispatched actions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/connection"
          }
        ]
      }
    },
    "/v1/agents/{agent}/connectors/{connection}/authorize": {
      "post": {
        "operationId": "authorizeConnector",
        "summary": "Start or restart OAuth consent",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthStart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/connection"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthInput"
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent}/connectors/{connection}/tools": {
      "get": {
        "operationId": "listConnectorTools",
        "summary": "Connect and discover allowed MCP tools",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tools"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/connection"
          }
        ]
      }
    },
    "/oauth/callback/{agent}/{connection}": {
      "get": {
        "operationId": "oauthCallback",
        "summary": "Provider OAuth callback",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthConnected"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "No owner header; validated by pending one-time state, PKCE, expected connection and issuer. Do not call manually.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/connection"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "One-time state from the authorization request."
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Authorization code, required unless provider returns error."
          },
          {
            "name": "iss",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Issuer identifier when supplied by the provider."
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Provider-declined authorization error."
          }
        ]
      }
    },
    "/v1/agents/{agent}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List agent tasks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          }
        ]
      },
      "post": {
        "operationId": "createTask",
        "summary": "Submit a task or return its idempotent predecessor",
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "Idempotency key reused for different content or concurrent update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent}/tasks/{task}": {
      "get": {
        "operationId": "getTask",
        "summary": "Poll task state and result",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/agent"
          },
          {
            "$ref": "#/components/parameters/task"
          }
        ]
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openapiDocument",
        "summary": "Read the OpenAPI contract",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OwnerKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "agent owner secret",
        "description": "Single key for agent management and invocation."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "error"
        ]
      },
      "AgentInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 4000,
            "default": ""
          }
        },
        "additionalProperties": false,
        "required": [
          "name"
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "card_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "description",
          "created_at",
          "card_url"
        ]
      },
      "AgentCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "card_url": {
            "type": "string",
            "format": "uri"
          },
          "owner_key": {
            "type": "string",
            "writeOnly": false,
            "description": "Returned once; save securely. Also permits invocation."
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "description",
          "created_at",
          "card_url",
          "owner_key"
        ]
      },
      "OwnerKey": {
        "type": "object",
        "properties": {
          "owner_key": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "owner_key"
        ]
      },
      "SkillInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "URL path wins over any body ID."
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 4000
          },
          "instructions": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000
          },
          "connector_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          }
        },
        "additionalProperties": false,
        "required": [
          "name",
          "description",
          "instructions"
        ]
      },
      "Skill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "URL path wins over any body ID."
          },
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 4000
          },
          "instructions": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000
          },
          "connector_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "description",
          "instructions",
          "connector_ids"
        ]
      },
      "Skills": {
        "type": "object",
        "properties": {
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skill"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "skills"
        ]
      },
      "ConnectionInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "Public HTTPS Streamable HTTP MCP URL; no URL credentials or fragment."
          },
          "auth_type": {
            "type": "string",
            "enum": [
              "oauth",
              "bearer",
              "none"
            ],
            "default": "oauth"
          },
          "token": {
            "type": [
              "string",
              "null"
            ],
            "writeOnly": true,
            "description": "Required for bearer, disallowed for other auth types."
          },
          "allowed_tools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "default": [
              "*"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "name",
          "url"
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "auth_type": {
                  "const": "bearer"
                }
              },
              "required": [
                "auth_type"
              ]
            },
            "then": {
              "required": [
                "token"
              ],
              "properties": {
                "token": {
                  "type": "string",
                  "minLength": 1
                }
              }
            },
            "else": {
              "properties": {
                "token": {
                  "type": "null"
                }
              }
            }
          }
        ]
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "auth_type": {
            "type": "string",
            "enum": [
              "oauth",
              "bearer",
              "none"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "authorization_required",
              "authorization_pending",
              "connected",
              "reauthorization_required"
            ]
          },
          "allowed_tools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "next_maintenance": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "url",
          "auth_type",
          "status",
          "allowed_tools",
          "next_maintenance"
        ]
      },
      "Connections": {
        "type": "object",
        "properties": {
          "connectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "connectors"
        ]
      },
      "OAuthInput": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "client_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "client_secret": {
            "type": [
              "string",
              "null"
            ],
            "writeOnly": true
          }
        },
        "additionalProperties": false
      },
      "OAuthStart": {
        "type": "object",
        "properties": {
          "connector_id": {
            "type": "string"
          },
          "status": {
            "const": "authorization_pending"
          },
          "authorization_url": {
            "type": "string",
            "format": "uri"
          },
          "expires_in": {
            "type": "integer",
            "const": 600,
            "description": "Initial state lifetime, never the durable authorization lifetime."
          }
        },
        "additionalProperties": false,
        "required": [
          "connector_id",
          "status",
          "authorization_url",
          "expires_in"
        ]
      },
      "OAuthConnected": {
        "type": "object",
        "properties": {
          "connector_id": {
            "type": "string"
          },
          "status": {
            "const": "connected"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "connector_id",
          "status",
          "message"
        ]
      },
      "McpTool": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object"
          },
          "outputSchema": {
            "type": "object"
          },
          "annotations": {
            "type": "object"
          }
        },
        "additionalProperties": true,
        "required": [
          "name",
          "inputSchema"
        ]
      },
      "Tools": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpTool"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "tools"
        ]
      },
      "TaskInput": {
        "type": "object",
        "properties": {
          "request": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000
          },
          "skill_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Empty means all currently configured skills."
          }
        },
        "additionalProperties": false,
        "required": [
          "request"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "agent_id": {
            "type": "string"
          },
          "request": {
            "type": "string"
          },
          "skill_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "interrupted",
              "input_required",
              "cancelled"
            ]
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64"
          },
          "result": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/EngineOutput"
              }
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "lease_until": {
            "type": "integer",
            "format": "int64"
          },
          "a2a": {
            "type": "object",
            "description": "Owner-only A2A context, public messages and private execution checkpoint. Never returned through A2A task history."
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "agent_id",
          "request",
          "skill_ids",
          "status",
          "created_at",
          "updated_at",
          "result",
          "error",
          "lease_until"
        ]
      },
      "Tasks": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "tasks"
        ]
      },
      "CardSkill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "id",
          "name",
          "description",
          "tags"
        ]
      },
      "AgentCard": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "supportedInterfaces": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "protocolBinding": {
                  "const": "JSONRPC"
                },
                "protocolVersion": {
                  "const": "1.0"
                }
              },
              "additionalProperties": false,
              "required": [
                "url",
                "protocolBinding",
                "protocolVersion"
              ]
            }
          },
          "capabilities": {
            "type": "object"
          },
          "defaultInputModes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "defaultOutputModes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardSkill"
            }
          },
          "securitySchemes": {
            "type": "object"
          },
          "securityRequirements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "documentationUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false,
        "required": [
          "name",
          "description",
          "version",
          "supportedInterfaces",
          "capabilities",
          "defaultInputModes",
          "defaultOutputModes",
          "skills",
          "securitySchemes",
          "securityRequirements"
        ]
      },
      "Health": {
        "type": "object",
        "properties": {
          "status": {
            "const": "ok"
          },
          "service": {
            "const": "a2a-agents"
          }
        },
        "additionalProperties": false,
        "required": [
          "status",
          "service"
        ]
      },
      "Service": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string",
            "format": "uri"
          },
          "phase": {
            "const": 2
          }
        },
        "additionalProperties": false,
        "required": [
          "service",
          "version",
          "docs",
          "phase"
        ]
      },
      "OpenApiDocument": {
        "type": "object",
        "required": [
          "openapi",
          "info",
          "paths"
        ],
        "properties": {
          "openapi": {
            "const": "3.1.0"
          },
          "info": {
            "type": "object"
          },
          "paths": {
            "type": "object"
          }
        },
        "additionalProperties": true
      },
      "Usage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "output_tokens": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "input_tokens",
          "output_tokens"
        ],
        "additionalProperties": false
      },
      "EngineOutput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "cost_microusd": {
            "type": "integer",
            "minimum": 0
          },
          "model_calls": {
            "type": "integer",
            "minimum": 0
          },
          "tool_calls": {
            "type": "integer",
            "minimum": 0
          },
          "input_required": {
            "type": "string",
            "description": "Question requiring a continuation message; present only for an A2A task awaiting input."
          }
        },
        "required": [
          "text",
          "usage",
          "cost_microusd",
          "model_calls",
          "tool_calls"
        ],
        "additionalProperties": false
      }
    },
    "parameters": {
      "agent": {
        "name": "agent",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "connection": {
        "name": "connection",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "skill": {
        "name": "skill",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "task": {
        "name": "task",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200
        },
        "description": "Same agent, key, request text and submitted skill_ids return the original task even after skills change or are deleted. Omitted skill_ids and [] are equivalent. A different submitted request returns 409."
      }
    },
    "responses": {
      "Error": {
        "description": "Application error or request extraction error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid owner key for this agent.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "NotFound": {
        "description": "Agent or nested resource missing, deleted or disconnected.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
